## Loading Data from CSV file

- The Pandas library in python provides excellent built-in support for time series data
- Pandas represents time series datasets as a Series.
- A Series is a one-dimensional array with a time label for each row
- A Dataframe is a collection of series

In [1]:
import pandas as pd

In [9]:
# Loading csv files from our project folder

dataframe = pd.read_csv('/Users/mac/Documents/dataframe1.csv', header= 0)

#### First five records

In [10]:
dataframe.head(5)

      DATE    H1
0  11/1/19  16.0
1  11/2/19  21.0
2  11/3/19  17.0
3  11/4/19  12.0
4  11/5/19  26.0

### Data Type

In [11]:
#checking the data type of date column
#dtype('O') is an object or string
dataframe['DATE'].dtype

dtype('O')

### Loading Data with parse_dates

- using parse_dates=[col_index] e.g parse_dates=[0] for first column

In [18]:
df = pd.read_csv('/Users/mac/Documents/dataframe1.csv',header=0, parse_dates=[0],index_col=0)

### First five records

In [19]:
df.head(5)

              H1
DATE
2019-11-01  16.0
2019-11-02  21.0
2019-11-03  17.0
2019-11-04  12.0
2019-11-05  26.0

### Data Type

In [14]:
df['DATE'].dtype

dtype('<M8[ns]')

### Loading Data as Series

In [16]:
ds = pd.read_csv('/Users/mac/Documents/dataframe1.csv',header=0,parse_dates=[0],index_col=0,squeeze=True)

In [17]:
ds.head(10)

DATE
2019-11-01    16.0
2019-11-02    21.0
2019-11-03    17.0
2019-11-04    12.0
2019-11-05    26.0
2019-11-06    24.0
2019-11-07    25.0
2019-11-08    25.0
2019-11-09     0.0
2019-11-10    26.0
Name: H1, dtype: float64