## Test-Train Split 

In Time series forecasting will usually split our dataset into test and train unlike other machine learning type.
Supposing will have about 10 months time series data, will can use the last 3 or 4 months as our train data.

In [1]:
import pandas as pd

In [2]:
energy_df = pd.read_csv('/Users/mac/Documents/dataframe1.csv', header=0, parse_dates=[0])

In [3]:
energy_df.head()

        DATE    H1
0 2019-11-01  16.0
1 2019-11-02  21.0
2 2019-11-03  17.0
3 2019-11-04  12.0
4 2019-11-05  26.0

In [11]:
#looking at the last five value

energy_df.tail()

          DATE    H1
116 2020-02-25   0.0
117 2020-02-26  16.0
118 2020-02-27  25.0
119 2020-02-28  29.0
120 2020-02-29   0.0

In [12]:
energy_df.shape

(121, 2)

We are going to use about 80% of this dataset for training and the remaining data set as test set.

In [14]:
energy_df.shape[0]

121

In [15]:
train_size = int(energy_df.shape[0]*0.8) #taking 80%
train_size

96

In [16]:
train = energy_df[0:train_size]

In [17]:
train

         DATE    H1
0  2019-11-01  16.0
1  2019-11-02  21.0
2  2019-11-03  17.0
3  2019-11-04  12.0
4  2019-11-05  26.0
..        ...   ...
91 2020-01-31  27.0
92 2020-02-01  27.0
93 2020-02-02  35.0
94 2020-02-03  26.0
95 2020-02-04  16.0

[96 rows x 2 columns]

In [18]:
train.shape

(96, 2)

In [19]:
test = energy_df[train_size:]

In [20]:
test.shape

(25, 2)

In [21]:
test

          DATE    H1
96  2020-02-05  12.0
97  2020-02-06  34.0
98  2020-02-07  27.0
99  2020-02-08  30.0
100 2020-02-09  28.0
101 2020-02-10  22.0
102 2020-02-11  25.0
103 2020-02-12  22.0
104 2020-02-13  29.0
105 2020-02-14  20.0
106 2020-02-15  32.0
107 2020-02-16  19.0
108 2020-02-17  24.0
109 2020-02-18  20.0
110 2020-02-19  19.0
111 2020-02-20  18.0
112 2020-02-21  29.0
113 2020-02-22  22.0
114 2020-02-23  36.0
115 2020-02-24  25.0
116 2020-02-25   0.0
117 2020-02-26  16.0
118 2020-02-27  25.0
119 2020-02-28  29.0
120 2020-02-29   0.0

## Walking Forward Validation


- t0-----t1-----t2-----t3-----t4-----t5------->time
- =====M1----P
- ==========M2-----P
- =================M3----P
- =======================M4----P


your models can be improve with the newly original values at later time