## Test-Train Split 

In Time series forecasting will usually split our dataset into test and train unlike other machine learning type.
Supposing will have about 10 months time series data, will can use the last 3 or 4 months as our train data.

In [1]:
import pandas as pd

In [2]:
energy_df = pd.read_csv('/Users/mac/Documents/dataframe1.csv', header=0, parse_dates=[0])

In [3]:
energy_df.head()

        DATE    H1
0 2019-11-01  16.0
1 2019-11-02  21.0
2 2019-11-03  17.0
3 2019-11-04  12.0
4 2019-11-05  26.0

In [4]:
energy_df.shape

(121, 2)

In [11]:
#looking at the last five value

energy_df.tail()

          DATE    H1
116 2020-02-25   0.0
117 2020-02-26  16.0
118 2020-02-27  25.0
119 2020-02-28  29.0
120 2020-02-29   0.0

In [5]:
energy_df.shape[0]

121

In [7]:
train_size = int(energy_df.shape[0]*0.0)
train_size

0

In [8]:
train = energy_df[0:train_size]

In [9]:
train

Empty DataFrame
Columns: [DATE, H1]
Index: []